# Site
name: 'Hyrule Royal Warehouse'
description: 'Mundana is a free Jekyll theme for awesome people like you, Medium like.'
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
#baseurl: '/mundana-theme-jekyll'
#disqus: 'demowebsite'
url: ''
baseurl: 'https://Neo0214.github.io'
email: 'cz1325@ic.ac.uk'
# mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'

include: ["_pages"]
permalink: /:title/

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  
authors:
    sam:
      name:           C.R. Zhang
      display_name:   Mr.Zhang
      avatar:         /assets/images/avatar/cr.jpg
      email:          cz1325@ic.ac.uk
      web:            https://github.com/Neo0214
      bio:            "Main developer of this site."

    yik:
      name:           C.Y. Wang
      display_name:   Miss.Wang
      avatar:         /assets/images/avatar/cy.jpg
      email:          kikikiki43299@gmail.com
      web:            https://github.com/kiy-00
      bio:            "Co-blogger of this site."
 
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: sal
      avatar: /assets/images/avatar1.jpg
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10



# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]