<footer class="footer">
  <data class="u-url" href="/"></data>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="text-muted">
          © {{ site.time | date: "%Y" }} Hyrule Royal Academy
        </p>
        
        <!-- 不蒜子访问统计 -->
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <p class="text-muted small">
          <span id="busuanzi_container_site_pv">
            本站总访问量 <span id="busuanzi_value_site_pv"></span> 次
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>